{% extends "layout.html.twig" %}

{% block page_title %}
    {% trans %}page.auditlog.header{% endtrans %}
{% endblock page_title %}

{% block page_subtitle %}

{% endblock page_subtitle %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    {{ block('audit_table') }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block audit_table %}
<div class="card-header">
    <h3 class="card-title">{% trans %}page.auditlog.header{% endtrans %}</h3>
</div>
<div class="card-body p-10">
    <p>{% trans %}page.auditlog.information{% endtrans %}</p>

    <table id="auditLogTable" class="table table-bordered table-hover dataTable"
           data-paging="true" data-page-length="10" data-searching="true"
           data-ordering="true" data-info="true" data-autowidth="true"
           data-order="[[ 1, &quot;desc&quot; ]]" >
        <thead>
        <tr>
            <th>{% trans %}grase.timestamp{% endtrans %}</th>
            <th>{% trans %}grase.audit.level{% endtrans %}</th>
            <th>{% trans %}grase.user{% endtrans %}</th>
            <th>{% trans %}grase.ip{% endtrans %}</th>
            <th>{% trans %}grase.audit.action{% endtrans %}</th>
            <th>{% trans %}grase.audit.context{% endtrans %}</th>
        </tr>
        </thead>
        <tbody>
        {# entry \App\Entity\AuditLog #}
        {% for entry in logEntries %}
            <tr>
                <td data-order="{{ entry.createdAt | date('U') }}">{{ entry.createdAt |localizeddate('short', 'short') }}</td>
                <td>{{ entry.levelName }}</td>
                <td>{{ entry.username }}</td>
                <td>{{ entry.extra.ip | default('') }}</td>
                <td>{{ entry.message | trans()}}</td>
                <td class="json-renderer" data-json='{{ entry.context |json_encode }}'></td>

            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>


{% endblock %}
