{% extends "layout.html.twig" %}

{% block page_title %}
    {% trans %}Groups{% endtrans %}
{% endblock page_title %}

{% block page_subtitle %}

{% endblock page_subtitle %}

{% block content %}

    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">{% trans %}Groups{% endtrans %}</h3>
            </div>
            <div class="box-body">
                <table id="groupsTable" class="dataTable table table-bordered table-hover"
                       data-paging="true" data-page-length="10" data-searching="true"
                       data-ordering="true" data-info="true" data-autowidth="true">
                    <thead>
                    <tr>
                        <th>{% trans %}Name{% endtrans %}</th>
                        <th>{% trans %}Data Limit{% endtrans %}</th>
                        <th>{% trans %}Time Limit{% endtrans %}</th>
                        <th>{% trans %}Expiry{% endtrans %}</th>
                        <th>{% trans %}Expire After{% endtrans %}</th>
                        <th>{% trans %}Comment{% endtrans %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for group in groups %}
                        <tr>
                            <td><a href="{{ path('grase_users', {'group': group.name}) }}">{{ group.name }}</a> <a href="{{ path('grase_group_edit', {'id': group.id} ) }}"><i class="fas fa-edit float-right"></i></a></td>
                            <td>{{ group.maxOctets|format_bytes }}</td>
                            <td>{{ group.maxSeconds }}</td>
                            <td>{{ group.expiry }}</td>
                            <td>{{ group.expireAfter }}</td>
                            <td>{{ group.comment }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>
    </div>

{% endblock %}