{% extends "layout.html.twig" %}

{% block page_title %}
    {% trans %}grase.status.title{% endtrans %}
{% endblock page_title %}

{% block page_subtitle %}
{% endblock page_subtitle %}

{% block stylesheets %}
    {% if netdataEnabled %}
    <script>var netdataNoBootstrap = true;</script>
    {# TODO make this pull from the current Grase server, through an Apache proxy #}
    <script type="text/javascript" src="http://localhost:19999/dashboard.js"></script>
    {# dashboard.js loads CSS that breaks ours, so we need to let CSS do it's thing and load dashboard.css first,
       followed by our styles so our styles win
    #}
    {% endif %}
    {{ parent() }}
{% endblock stylesheets %}


{% block content_header %}
    <h1>{% trans %}grase.status.title{% endtrans %}</h1>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <div class="card">
                    {{ block('status_table') }}
                </div>
            </div>
            {% if netdataEnabled %}
            <div class="col-lg-6">
                <div class="card">
                    {{ block('netdata') }}
                </div>
            </div>
            {% endif %}
        </div>
    </div>

{% endblock %}

{% block status_table %}
    <div class="card-header">
        <h3 class="card-title">grase.status.card.status.title</h3>
    </div>
    <div class="card-body p-0">
    <table id="groupsTable" class="table table-bordered table-hover">
        <tbody>
        <tr>
            <th class="header" colspan="3">{% trans %}grase.status.card.header.device_information{% endtrans %}</th>
        </tr>
        <tr>
            <td class="title">{% trans %}grase.status.card.model_name{% endtrans %}</td>
            <td colspan="2">{{ applicationName }}</td>
        </tr>

        <tr>
            <td class="title">{% trans %}grase.status.card.hostname{% endtrans %}</td>
            <td colspan="2">{{ systemInfo.hostname }}</td>
        </tr>

        <tr>
            <td class="title">{% trans %}grase.status.card.httpserver{% endtrans %}</td>
            <td colspan="2">{{ systemInfo.httpd.software }} via {{ systemInfo.httpd.gateway }}</td>
        </tr>


        <tr>
            <td class="title">{% trans %}grase.status.card.uptime{% endtrans %}</td>
            <td colspan="2">{{ systemInfo.uptime }}</td>
        </tr>

        <tr>
            <td class="title">{% trans %}grase.status.card.current_time{% endtrans %}</td>
            <td>{{ "now"|date('r') }}</td>
            <td></td>
        </tr>

        <tr>
            <td class="title">{% trans %}grase.status.card.hardware_version{% endtrans %}</td>
            <td colspan="2">{{ systemInfo.cpu.model }} @{{ systemInfo.cpu.speed }}MHz</td>
        </tr>

        <tr>
            <td class="title">{% trans %}grase.status.card.app_version{% endtrans %}</td>
            <td colspan="2">{{ shivas_app_version }}</td>
        </tr>

        <tr>
            <td class="title">{% trans %}grase.status.card.app_url{% endtrans %}</td>
            <td colspan="2"><a href="https://grasehotspot.org">GRASE Hotspot</a></td>
        </tr>


        <tr>
            <th class="header" colspan="3">{% trans %}grase.status.card.header.lan{% endtrans %}</th>
        </tr>
        <tr>
            <td class="title">{% trans %}grase.status.card.ipaddress{% endtrans %}</td>
            <td colspan="2">{{ systemInfo.lan.ipaddress }}</td>
        </tr>
        <tr>
            <td class="title">{% trans %}grase.status.card.netmask{% endtrans %}</td>
            <td colspan="2">{{ systemInfo.lan.netmask }}</td>
        </tr>
        <tr>
            <td class="title">{% trans %}grase.status.card.mac{% endtrans %}</td>
            <td colspan="2">{{ systemInfo.lan.mac | upper }}</td>
        </tr>
        <tr>
            <td class="title">{% trans %}grase.status.card.net_interface{% endtrans %}</td>
            <td colspan="2">{{ systemInfo.lan.iface }}</td>
        </tr>

        <tr>
            <th class="header" colspan="3">{% trans %}grase.status.card.header.wan{% endtrans %}</th>
        </tr>
        <tr>
            <td class="title">{% trans %}grase.status.card.ipaddress{% endtrans %}</td>
            <td colspan="2">{{ systemInfo.wan.ipaddress }}</td>
        </tr>
        <tr>
            <td class="title">{% trans %}grase.status.card.netmask{% endtrans %}</td>
            <td colspan="2">{{ systemInfo.wan.netmask }}</td>
        </tr>
        <tr>
            <td class="title">{% trans %}grase.status.card.gateway{% endtrans %}</td>
            <td colspan="2">{{ systemInfo.wan.gateway }}</td>
        </tr>
        <tr>
            <td class="title">{% trans %}grase.status.card.dns_primary{% endtrans %}</td>
            <td colspan="2">{{ systemInfo.wan.dnsPrimary }}</td>
        </tr>
        <tr>
            <td class="title">{% trans %}grase.status.card.dns_secondary{% endtrans %}</td>
            <td colspan="2">{{ systemInfo.wan.dnsSecondary }}</td>
        </tr>
        <tr>
            <td class="title">{% trans %}grase.status.card.mac{% endtrans %}</td>
            <td colspan="2">{{ systemInfo.wan.mac|upper }}</td>
        </tr>
        <tr>
            <td class="title">{% trans %}grase.status.card.net_interface{% endtrans %}</td>
            <td colspan="2">{{ systemInfo.wan.iface }}</td>
        </tr>
        </tbody>
    </table>
    </div>
{% endblock %}

{% block netdata %}
    <div class="card-header">
        <h3 class="card-title">Netdata</h3>
    </div>
    <div class="card-body">
        <div class="tab-content">

        <div data-netdata="system.cpu"
             data-chart-library="gauge"
             data-width="25%"
             data-after="-300"
             data-points="150"
             data-units="%"
        >
        </div>
        <div data-netdata="system.ram"
             data-dimensions="used|buffers|active|wired"
             data-gauge-max-value="100"
             data-append-options="percentage"
             data-chart-library="gauge"
             data-units="%"
             data-width="25%"
             data-after="-300"
             data-points="150"
        >
        </div>
        <div data-netdata="system.net"
             data-after="-300"
             data-before="0"
        ></div>
            <div data-netdata="system.ip"
                 data-after="-300"
                 data-before="0"
            ></div>

        </div>
    </div>
{% endblock netdata %}