{% extends 'base.html.twig' %}

{% block title 'Grase' %}

{% block sidebar %}
    <!-- Main Sidebar Container -->
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
        <!-- Brand Logo -->
        <a href="index3.html" class="brand-link">
            <img src="{{ asset('build/images/grase.png') }}" alt="Grase Logo" class="brand-image img-circle elevation-3"
                 style="opacity: .8">
            <span class="brand-text font-weight-light">GRASE <span class="text-muted small">v{{ shivas_app_version }}</span></span>
        </a>

        <!-- Sidebar -->
        <div class="sidebar">
            <!-- Sidebar user panel (optional) -->
            {% if app.user %}
            <div class="user-panel mt-3 pb-3 mb-3 d-flex">

                <div class="image">
                    {# TODO Decide if we want to use ui-avatars or something else #}
                    <img src="https://ui-avatars.com/api/?background=0D8ABC&color=fff&size=160&name={{ app.user.username | first }}" class="img-circle elevation-2" alt="User Image">
                </div>
                <div class="info">
                    <a class="d-block"> {{ app.user.username }}</a>
                </div>
            </div>
            {% endif %}

            <!-- Sidebar Menu -->
            <nav class="mt-2">
                {{ pd_menu_render('App\\Menu\\MainMenu', {
                    'template': 'pdmenu.html.twig',
                    'currentClass': 'active menu-open',
                    'iconTemplate': '<i class="material-icons nav-icon">itext</i>'

                }) }}
            </nav>
            <!-- /.sidebar-menu -->
        </div>
        <!-- /.sidebar -->
    </aside>




{% endblock %}

{% block page_content %}
    <main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">

    {% block content_header %}
    {% endblock %}

    {% block flash_messages %}
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        {% endfor %}
    {% endblock %}



    <div class="block">
        {% block content %}{% endblock %}
    </div>

    </main>

{% endblock %}
