{% extends 'base.html.twig' %}

{% block head %}
    <link rel="icon" sizes="16x16" href="{{ asset('favicon.ico') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/grase/css/demo.css') }}" />
{% endblock %}

{% block title 'Grase' %}

{% block sidebar %}
    <!-- Main Sidebar Container -->
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
        <!-- Brand Logo -->
        <a href="index3.html" class="brand-link">
            <img src="dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
                 style="opacity: .8">
            <span class="brand-text font-weight-light">AdminLTE 3</span>
        </a>

        <!-- Sidebar -->
        <div class="sidebar">
            <!-- Sidebar user panel (optional) -->
            <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                <div class="image">
                    <img src="dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
                </div>
                <div class="info">
                    <a href="#" class="d-block">Alexander Pierce</a>
                </div>
            </div>

            <!-- Sidebar Menu -->
            <nav class="mt-2">
                {{ pd_menu_render('App\\Menu\\MainMenu', {
                    'template': 'pdmenu.html.twig',
                    'currentClass': 'active menu-open',
                    'iconTemplate': '<i class="material-icons nav-icon">itext</i>'

                }) }}
            </nav>
            <!-- /.sidebar-menu -->
        </div>
        <!-- /.sidebar -->
    </aside>




{% endblock %}

{% block page_content %}
    <main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">

    {% block content_header %}
    {% endblock %}

    {% block flash_messages %}
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        {% endfor %}
    {% endblock %}



    <div class="block">
        {% block content %}{% endblock %}
    </div>

    </main>

{% endblock %}
