{% extends 'base.html.twig' %}

{% block head %}
    <link rel="icon" sizes="16x16" href="{{ asset('favicon.ico') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/grase/css/demo.css') }}" />
{% endblock %}

{% block title 'Grase' %}

{% block sidebar %}
    <nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar">

        {{ pd_menu_render('App\\Menu\\MainMenu', {}) }}

    </nav>
{% endblock %}

{% block page_content %}
    <main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">

    {% block content_header %}
    {% endblock %}

    {% block flash_messages %}
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        {% endfor %}
    {% endblock %}



    <div class="block">
        {% block content %}{% endblock %}
    </div>

    </main>

{% endblock %}
