{% extends 'base.html.twig' %}


{% block navbar %}{% endblock %}

{% block bodyclass %}hold-transition login-page layout-footer-fixed{% endblock %}

{% block body %}
<div class="wrapper">
    <div class="d-flex flex-column h-100  justify-content-center">
        <div class="login-box d-flex align-items-center flex-column">
            <div class="login-logo">
                <img src="{{ asset('build/images/grase.png') }}" height="100px"/><br/><a><b>Grase</b>Hotspot</a>
            </div><!-- /.login-logo -->

            <!-- Voucher Error messages (not found, expired, etc) will be displayed using this variable - do not remove -->
            <div class="" id="errormessages" style="margin-top: 1em; max-width: 300px; text-align: center;"></div>

            <div class="card" id="tosaccept">
                <div class="login-box-body card-body">
                    <p class="login-box-msg">{% trans %}Free Login{% endtrans %}</p>

                    <form id="tosaccept_form">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">{% trans %}Free Login{% endtrans %}</button>
                    </form>


                    {#

                    <div class="social-auth-links text-center">
                        <p>- OR -</p>
                        <a href="#" class="btn btn-block btn-social btn-facebook btn-flat"><i class="fa fa-facebook"></i> Sign in using Facebook</a>
                        <a href="#" class="btn btn-block btn-social btn-google-plus btn-flat"><i class="fa fa-google-plus"></i> Sign in using Google+</a>
                    </div><!-- /.social-auth-links -->

                    <a href="#">I forgot my password</a><br>
                    <a href="register.html" class="text-center">Register a new membership</a>
                    #}

                </div><!-- /.login-box-body -->
            </div>
            <div class="card" id="loginform">
                <div class="login-box-body card-body">
                    <p class="login-box-msg">{% trans %}Voucher Login{% endtrans %}</p>


                    <form id="loginform_form">
                        <div class="form-group has-feedback">
                            <input type="text" class="form-control" placeholder="{% trans %}Username{% endtrans %}" id="username" name="username" required autofocus />
                            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                        </div>
                        <div class="form-group has-feedback">
                            <input type="password" class="form-control" placeholder="{% trans %}Password{% endtrans %}"  id="password" name="password" required/>
                            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block btn-flat">{% trans %}Login{% endtrans %}</button>

                    </form>
                    {#

                    <div class="social-auth-links text-center">
                        <p>- OR -</p>
                        <a href="#" class="btn btn-block btn-social btn-facebook btn-flat"><i class="fa fa-facebook"></i> Sign in using Facebook</a>
                        <a href="#" class="btn btn-block btn-social btn-google-plus btn-flat"><i class="fa fa-google-plus"></i> Sign in using Google+</a>
                    </div><!-- /.social-auth-links -->

                    <a href="#">I forgot my password</a><br>
                    <a href="register.html" class="text-center">Register a new membership</a>
                    #}

                </div><!-- /.login-box-body -->
            </div>
            <div id="loading" style="display: none">
                <div class="d-flex align-items-center flex-column">

                <progress class="pure-material-progress-circular"></progress><br/> {% trans %}Attempting Login...{% endtrans %}
                </div>
            </div>
            <div class="card" id="loggedin" style="display: none;">
                <div id="loggedinuserName" style="display: none"></div>
                <div id="sessionTimeout" style="display: none"></div>
                <div id="sessionMaxTotalOctets" style="display: none"></div>
                {# This is a default logout link, it should be replaced by JS from the JSON responses we get after login #}
                <br/><a class="btn btn-danger" href="http://1.0.0.0" id="logofflink">{% trans %}Logout{% endtrans %}</a>
                <a href="{{ path('grase_uam_login') }}" class="btn btn-success" target="grase_uam" id='statuslink' style="display: none;">{% trans %}Open Status Window{% endtrans %} <i class="fa fa-external-link"></i></a>

            </div>

            <!-- Support links box -->
            <div>
                <a href="{{ supportContactLink }}">{{ supportContactName }}</a> | <a href="{{ path('grase_radmin_homepage') }}">{% trans %}Admin Login{% endtrans %}</a>
            </div>
        </div>

        <!-- Div to allow the fixed footer to work on small screens -->
        <div style="padding: 1rem">&nbsp;</div>

        {% block footer %}{{ parent() }}{% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('uam') }}
        {% endblock %}
    </div>
</div>
{% endblock %}


{% block stylesheets %}
{{ parent() }}
    <style>
        .main-footer {
            margin-left: 0;
            flex-shrink: 0;
        }
        .login-box {
            flex: 1 0 auto;
        }
        html, body {
            height: 100%;
        }
    </style>
{% endblock %}