{% extends "layout.html.twig" %}

{% block page_title %}
    {% trans %}Edit User{% endtrans %}
{% endblock page_title %}

{% block page_subtitle %}
{{ group.name }}
{% endblock page_subtitle %}

{% block content %}

    <div class="col-xs-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">{% trans %}Edit User{% endtrans %}</h3>
            </div>
            <div class="card-body">
                {{ form_start(user_form) }}

                <div class="my-custom-class-for-errors">
                    {{ form_errors(user_form) }}
                </div>

                <div class="form-row">
                    <div class="col-xs-12 col-lg-6">
                        {{ form_row(user_form.username) }}
                        <div class="form-group">
                            {{ form_label(user_form.password) }}
                            <div class="input-group">
                            {{ form_widget(user_form.password) }}
                            <span class="input-group-append">
                                <button type="button" class="btn btn-dark" id="generatePasswordButton"><i class="material-icons small">refresh</i> {% trans %}Generate{% endtrans %}</button>
                            </span>
                            </div>
                            {{  form_help(user_form.password) }}
                            {# TODO add password strength to this page #}
                        </div>


                        {{ form_row(user_form.comment) }}
                        {{ form_row(user_form.primaryGroup) }}
                    </div>
                    <div class="col-xs-12 col-lg-6">
                        {{ form_row(user_form.dataLimit) }}
                        {{ form_row(user_form.timeLimit) }}
                        {{ form_row(user_form.save) }}
                    </div>
                </div>

                {{ form_rest(user_form) }}
                {{ form_end(user_form) }}
            </div>

        </div>
    </div>

{% endblock %}

{% block javascripts_inline %}
    <script>
        function pageJs($) {
            // Ensure that when a user types customs values we clear the dropdowns
            $('#user_dataLimit_dataLimitCustom').change(function () {
                if ($('#user_dataLimit_dataLimitCustom').val() != '') {
                    $('#user_dataLimit_dataLimitDropdown').val('');
                }
            });
            $('#user_timeLimit_timeLimitCustom').change(function () {
                if ($('#user_timeLimit_timeLimitCustom').val() != '') {
                    $('#user_timeLimit_timeLimitDropdown').val('');
                }
            });

            // Allow the user to auto generate a new password for the account
            $('#generatePasswordButton').click(function () {
                $.ajax(Routing.generate('grase_api_generate_password', null, true))
                    .done(function(data) {
                        $('#user_password').val(data);
                    });

            });
        };
    </script>
{% endblock %}