{% extends "GraseRadminBundle:Default:layout.html.twig" %}

{% block page_title %}
    {% trans %}User Accounts{% endtrans %}
{% endblock page_title %}

{% block page_subtitle %}

{% endblock page_subtitle %}

{% block content %}

    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">{% trans %}User Accounts{% endtrans %}</h3>
            </div>
            <div class="box-body">
                <table id="users_table" class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>{% trans %}Username{% endtrans %}</th>
                        <th>{% trans %}Data Limit{% endtrans %}</th>
                        <th>{% trans %}Time Limit{% endtrans %}</th>
                        <th>{% trans %}Expiry{% endtrans %}</th>
                        <th>{% trans %}Group{% endtrans %}</th>
                        <th>{% trans %}Comment{% endtrans %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in users %}
                        <tr>
                            <td>{{ user.username }} <a href="#" class="" data-toggle="popover" tabindex="0" data-trigger="focus" title="{% trans %}Password{% endtrans %}" data-content="{{ user.password }}"><i class="fa fa-key"></i></a></td>
                            <td>{{ user.datalimit|format_bytes }}</td>
                            <td>{{ user.totalSessionTime }}/{{ user.timelimit }}</td>
                            <td>{% if user.expiry %}{{ user.expiry|localizeddate('medium', 'short') }}{% endif %}</td>
                            <td>{{ user.allUserGroupsNames }}</td>
                            <td>{{ user.comment }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>
    </div>

{% endblock %}

{% block javascripts_inline %}
    <script>
        $(function () {
            $('[data-toggle="popover"]').popover();
            $('#users_table').DataTable({
                "paging": true,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": true
            });
        });
    </script>
{% endblock %}