{% extends "GraseRadminBundle:Default:layout.html.twig" %}

{% block content %}

    <table>
        <thead>
            <tr>
                <th>Username</th>
                <th>Data Limit</th>
                <th>Time Limit</th>
                <th>Comment</th>
            </tr>
        </thead>
    {% for user in users %}
        <tr>
            <td>{{ user.username }} <span>{{ user.password }}</span></td>
            <td>{{ user.datalimit|format_bytes }}</td>
            <td>{{ user.timelimit }}</td>
            <td>{{ user.expiry|localizeddate('medium', 'short') }}</td>
            <td>{{ user.comment }}</td>
        </tr>
    {% endfor %}
    </table>

{% endblock %}